.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media (min-width: 768px) {
    .col-big-1 {width: 8.33%;}
    .col-big-2 {width: 16.66%;}
    .col-big-3 {width: 25%;}
    .col-big-4 {width: 33.33%;}
    .col-big-5 {width: 41.66%;}
    .col-big-6 {width: 50%;}
    .col-big-7 {width: 58.33%;}
    .col-big-8 {width: 66.66%;}
    .col-big-9 {width: 75%;}
    .col-big-10 {width: 83.33%;}
    .col-big-11 {width: 91.66%;}
    .col-big-12 {width: 100%;}
}
@media (max-width: 768px) {
    .col-middle-1 {width: 8.33%;}
    .col-middle-2 {width: 16.66%;}
    .col-middle-3 {width: 25%;}
    .col-middle-4 {width: 33.33%;}
    .col-middle-5 {width: 41.66%;}
    .col-middle-6 {width: 50%;}
    .col-middle-7 {width: 58.33%;}
    .col-middle-8 {width: 66.66%;}
    .col-middle-9 {width: 75%;}
    .col-middle-10 {width: 83.33%;}
    .col-middle-11 {width: 91.66%;}
    .col-middle-12 {width: 100%;}
}
@media (max-width: 576px) {
    .col-small-1 {width: 8.33%;}
    .col-small-2 {width: 16.66%;}
    .col-small-3 {width: 25%;}
    .col-small-4 {width: 33.33%;}
    .col-small-5 {width: 41.66%;}
    .col-small-6 {width: 50%;}
    .col-small-7 {width: 58.33%;}
    .col-small-8 {width: 66.66%;}
    .col-small-9 {width: 75%;}
    .col-small-10 {width: 83.33%;}
    .col-small-11 {width: 91.66%;}
    .col-small-12 {width: 100%;}
}

