@import url("null.css");
@import url("grid.css");
.block {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.container__rows {
    display: flex;
    flex-wrap: wrap;
}
.header, .footer, .aside {
    background-color: #337ab7;
    min-height: 50px;
    border: 1px solid black;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.content > div {
    min-height: 50px;
    border: 1px solid black;
}
.content_01 {
    background-color: brown;
}
.content_02 {
    background-color: skyblue;
}
.content_03 {
    background-color: orange;
}
.content_04 {
    background-color: green;
}
