@import url("null.css");
@import url("grid.css");
.block {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.container__rows {
    display: flex;
    flex-wrap: wrap;
}
.rows_01, .rows_04, .rows_02 {
    background-color: #337ab7;
}
.rows_03 {
    background-color: orange;
}
div[class*=col-] {
    min-height: 50px;
    border: 1px solid black;
}
