@import url("null.css");
@import url("grid.css");

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Sans", sans-serif;
    padding: 5px;
    font-size: 16px;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
}

.main {
    flex: 1 1 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
  
.menu li:hover {
    background-color: #0099cc;
}
.content {
    padding: 20px;
}
.content p{
    padding: 20px 0;
}
.content h2 {
    font-size: 24px;
    font-weight: 700;
}
.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside >*:not(:last-child) {
    margin-bottom: 15px;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
  