@import url("null.css");
@import url("grid.css");

.container__rows {
    display: flex;
    flex-wrap: wrap;
}
.rows_01 {
    background-color: orange;
}

.rows_02 {
    background-color: brown;
}
div[class*=col-] {
    min-height: 50px;
    border: 1px solid black;
}
