@import url("null.css");
@import url("grid.css");
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.page {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
}
.header {
    background-color: red;
    padding: 10px;
    height: 75px;
}
.aside {
    background-color: green;
    padding: 10px;
    min-height: 150px;

}
.main__body {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .aside {
        order: 2;
    }
    .main {
        order: 1;
    }
}
.content {
    padding: 15px;
    height: 100px;
}
.content_01 {
    background-color: aqua;
}
.content_02 {
    background-color:cornflowerblue;
}
.content_03 {
    background-color:darksalmon;
}
.content_04 {
    background-color:saddlebrown;
}
.content_05 {
    background-color:darkolivegreen;
}
.content_06 {
    background-color:navajowhite;
}
.content_07 {
    background-color:firebrick;
    height: 130px;
}
.content_08 {
    background-color:navy;
    height: 130px;
}
.content_09 {
    background-color:khaki;
    height: 150px;
}
.content_10 {
    background-color:aqua;
    height: 150px;
}
.content_11 {
    background-color:darkorchid;
}
.content_12 {
    background-color:magenta;
}
.content_13 {
    background-color:darkcyan;
    height: 200px;
}
.footer {
    background-color: rgb(124, 0, 196);
    padding: 10px;
    height: 75px;
}
