@import url("null.css");
@import url("grid.css");

.container__rows {
    display: flex;
    flex-wrap: wrap;
}
.rows_01 {
    background-color: #337ab7;
    margin-bottom: 25px;
}
.rows_02 {
    background-color: orange;
}
.rows_03 {
    background-color: brown;
}
.rows_04 {
    background-color: green;
}
div[class*=col-] {
    min-height: 50px;
    border: 1px solid black;
}
