@import url("null.css");
@import url("grid.css");
.block {
    background-color: #eeeeee;
    padding: 15px 0;
}
.block__container {
    background-color: #aaaaaa;
    padding: 15px 0;
}
.container__rows {
    background-color: #333333;
    display: flex;
}
div[class*=col-] {
    background-color: #337ab7;
    min-height: 50px;
    border: 1px solid #154890;
}